.checkout {
  width: 100%;
  position: absolute;
  top: 7.3rem;
  padding-bottom: 5em;
  font-size: 1rem;
}

.checkout .back-to-cart {
  padding: 0 0 0.5em 0.5em;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--shadeDark);
}

.checkout .back-to-cart a {
  font-size: 1.8em;
  margin-right: 0.3em;
  color: var(--shadeDark);
}

.checkout .back-to-cart a:hover {
  color: var(--dark);
}

.checkout .helper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--shadeLightDark);
  font-weight: 600;
  margin: 0.5em 0;
}

.checkout .order-summary {
  background: var(--light);
  color: var(--shadeBlue);
  margin: 1em auto;
  width: 87%;
  border-radius: 0.625rem;
  padding: 0.5em;
}

.checkout .order-summary .title {
  text-align: right;
  margin-bottom: 0.4em;
}

.checkout .order-summary .item {
  background: var(--light);
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0.5em;
  margin: 0.5em 0;
}

.checkout .order-summary .item-main {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.checkout .order-summary .item-main .item-image {
  margin-right: 0.8em;
  height: 100%;
}

.checkout .order-summary .item-main .item-info {
  color: var(--shadeLightDark);
  font-weight: 600;
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  overflow: hidden;
  width: 100%;
}

.checkout .order-summary .item-info-name {
  font-size: 0.9em;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
}
.checkout .order-summary .item-info-brand {
  font-size: 0.7em;
  background: var(--E-bg);
  color: var(--shadeLightDark);
  border: 1px solid var(--shadeLightDark);
  border-radius: 3px;
  width: fit-content;
  padding: 0.5em;
}

.checkout .order-summary .item-info-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
  font-size: 0.9em;
}

.checkout .order-summary .total-cart-price {
  text-align: right;
  color: var(--shadeDark);
  font-weight: bold;
  font-size: 1.1em;
  padding-right: 1rem;
}

.checkout .order-summary .total-cart-price span {
  color: var(--shadeLightDark);
}

.checkout .billing-info {
  background: var(--light);
  color: var(--shadeBlue);
  margin: 1em auto;
  width: 87%;
  border-radius: 0.625rem;
  padding: 0.5em 1em;
}

.checkout .billing-info-form .form-field {
  width: 100%;
}

.checkout .form-field label {
  font-weight: 600;
  font-size: 0.9em;
}

.checkout label.default {
  color: var(--shadeLightBlue);
}

.checkout label.not-valid {
  color: var(--shadeRed);
}

.checkout label.valid {
  color: var(--shadeLightGreen);
}

.checkout .error-message {
  font-size: 0.8em;
  color: var(--shadeRed);
  margin-bottom: 1em;
}

.checkout .form-field input {
  margin: 0.4em 0 0 0;
  width: 100%;
  border-radius: 5px;
  height: 2rem;
  padding-left: 0.5em;
}

.checkout input:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}

.checkout input.default {
  border: 1px solid var(--dark);
}

.checkout input.not-valid {
  border: 2px solid var(--shadeRed);
}

.checkout input.valid {
  border: 2px solid var(--shadeLightGreen);
}

.checkout .customer-info .title {
  margin-bottom: 1em;
}

.checkout .shipping-info .title {
  margin: 0.5em 0 1em 0;
}

.checkout .form-submit-btn {
  margin: 0 auto 0.5em auto;
  width: fit-content;
}

.checkout .form-submit-btn button {
  font-size: 0.9em;
  padding: 0.8em 1em;
  background: var(--shadeLightGreen);
}

.checkout .form-submit-btn button:hover {
  color: var(--shadeGreen);
  background: var(--light);
}

.checkout .payment-method {
  background: var(--light);
  color: var(--shadeBlue);
  margin: 1em auto;
  width: 87%;
  border-radius: 0.625rem;
  padding: 0.5em 1em;
}

.checkout .payment-method .title {
  text-align: center;
}

.checkout .methods {
  margin-top: 1.5em;
}

.checkout .methods > * {
  margin-bottom: 2em;
}

.checkout .methods .cod button,
.g-cash button {
  width: 100%;
  padding: 0.7em;
  font-size: 1em;
  border-radius: 5px;
  text-transform: initial;
}

.checkout .methods .cod button {
  background: var(--shadeLightGreen);
}

.checkout .methods .cod button:hover {
  background: var(--light);
}

.checkout .modal-wrapper .gcash-info,
.confirm-modal {
  background: var(--light);
  color: var(--shadeBlue);
  padding: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}

.checkout .gcash-instructions a {
  color: var(--shadeBlue);
}

.checkout .confirm-modal button {
  margin-top: 1em;
  font-size: 1em;
  width: 70%;
  background: var(--shadeLightGreen);
}
.checkout .confirm-modal button:hover {
  background: var(--light);
}

.checkout .alert-timer {
  color: var(--light);
  padding: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.checkout .alert-timer .redirect-message {
  margin-top: 1em;
}
