.about {
  background: var(--light);
  position: relative;
  width: 100%;
  padding: 1.5em 0;
  padding-bottom: 2em;
  font-size: 3rem;
}

.about-title {
  margin: 0 auto;
  font-size: 0.9em;
}

.about-text {
  margin: 0 auto;
  margin-top: 3em;
  width: min(80%, 45ch);
  color: var(--dark);
  font-weight: 400;
  font-size: 0.55em;
  letter-spacing: 0.8px;
}
