.ecommerce .products {
  width: 100%;
  position: absolute;
  top: 8rem;
  padding-bottom: 5em;
}

.ecommerce .products .product {
  display: block;
  max-width: 375px;

  margin: 0 auto 2em auto;
  box-shadow: var(--box-shadow);
}
