.ecommerce .products {
  width: 100%;
  position: absolute;
  top: 8rem;
  padding-bottom: 5em;
}

.ecommerce .install-propmt {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 360px;
  border-radius: 0.5rem;
  background: var(--shadeLightBlue);
  padding: 1em 1em;
  color: var(--light);
}

.ecommerce .install-propmt button {
  font-size: 0.6em;
}

.ecommerce .buttons {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.ecommerce .buttons > * {
  border-radius: 5rem;
  padding: 1em 1.7em;
  margin: 0 0.7em;
  box-shadow: none;
  text-transform: initial;
}

.ecommerce .buttons .not-now {
  color: var(--shadeBlue);
}

.ecommerce .buttons .not-now:hover {
  box-shadow: var(--box-shadow);
}

.ecommerce .buttons .install {
  background: var(--light);
  color: var(--shadeLightBlue);
}

.ecommerce .buttons .install:hover {
  color: var(--shadeBlue);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

#fb-root .fb_dialog {
  z-index: 0 !important;
}

#fb-root .fb_dialog .fb_dialog_content iframe {
  bottom: 45% !important;
  transform: scale(0.8) !important;
  right: 0 !important;
  margin: 0 !important;
}

@media (min-width: 360px) {
  .ecommerce .buttons > * {
    margin: 0 2.3em;
  }
}
