.cart {
  width: 100%;
  position: absolute;
  top: 7.3rem;
  padding-bottom: 5em;
  font-size: 1rem;
  color: var(--shadeDark);
}

.cart .back-to-store {
  padding: 0 0 0.5em 0.5em;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.back-to-store a {
  font-size: 1.8em;
  margin-right: 0.3em;
  color: var(--shadeDark);
}

.back-to-store i:hover {
  color: var(--dark);
}

.cart .checkout {
  width: 100%;
  height: 10vh;
  background: var(--light);
  position: fixed;
  top: calc(100% - 18.1vh);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.checkout .total-cart-price {
  color: var(--shadeGreen);
  font-weight: 600;
  font-size: 1em;
}

.total-cart-price span {
  color: var(--shadeLightDark);
}

.checkout button {
  background: var(--shadeBlue);
  padding: 0.9em;
  font-size: 0.8em;
}
