.cart {
  width: 100%;
  padding-top: var(--E-main-padding-s);
  padding-bottom: 5em;
  font-size: 1rem;
}

.cart .checkout-action-wrapper {
  width: 100%;
  background: var(--light);
  position: fixed;
  top: calc(100% - 18.1vh);
  height: 10vh;
  display: flex;
  justify-content: center;
}

.cart .checkout-action {
  width: min(85%, 40rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart .checkout-action .total-cart-price {
  color: var(--shadeGreen);
  font-weight: 600;
  font-size: 1em;
}

.cart .checkout-action .total-cart-price span {
  color: var(--shadeLightDark);
}

.cart .checkout-action button {
  background: var(--shadeBlue);
  padding: 0.9em;
  font-size: 0.75em;
}

.cart .checkout-action button:hover {
  background: var(--light);
}
