.cart {
  width: 100%;
  position: absolute;
  top: 7.3rem;
  padding-bottom: 5em;
  font-size: 1rem;
}

.cart .cart-top-nav {
  padding: 0 0.5em 0.5em 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.cart .back-to-store {
  display: flex;
  align-items: center;
  color: var(--shadeDark);
}

.cart .back-to-store a {
  font-size: 1.8em;
  margin-right: 0.3em;
  color: var(--shadeDark);
}

.cart .back-to-store a:hover {
  color: var(--dark);
}

.cart .view-orders-link a {
  color: var(--shadeLightBlue);
  text-decoration: underline;
}

.cart .checkout-action {
  width: 100%;
  height: 10vh;
  background: var(--light);
  position: fixed;
  top: calc(100% - 18.1vh);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.cart .checkout-action .total-cart-price {
  color: var(--shadeGreen);
  font-weight: 600;
  font-size: 1em;
}

.cart .checkout-action .total-cart-price span {
  color: var(--shadeLightDark);
}

.cart .checkout-action button {
  background: var(--shadeBlue);
  padding: 0.9em;
  font-size: 0.75em;
}

.cart .checkout-action button:hover {
  background: var(--light);
}
