[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whitenoise = "*"
mysqlclient = "*"
djangorestframework = "*"
Django = "*"
python-decouple = "*"
pillow = "*"
django-cleanup = "*"

[dev-packages]
uvicorn = "*"
django-sslserver = "*"

[requires]
python_version = "3.8"
