.panel-group .panel-tab {
  display: flex;
  align-items: center;
  background: var(--light);
  color: var(--dark);
  margin: 0.25em 0;
  padding: 0.5em;
  box-shadow: var(--box-shadow-light);
  border-radius: 6px;
  transition: 0.3s ease-in;
}

.panel-group .panel-tab:hover {
  background: var(--shadeLightBlue) !important;
  color: var(--light) !important;
}

.panel-group .panel-tab.light {
  background: var(--light);
}

.panel-group .panel-tab.light:hover {
  background: var(--shadeLightBlue) !important;
  color: var(--light) !important;
}

.panel-group .panel-tab.dark {
  background: var(--dark) !important;
  color: var(--light) !important;
}

.panel-group .panel-tab.dark:hover {
  background: var(--shadeLightBlue) !important;
  color: var(--light) !important;
}

.panel-group .panel-tab div {
  display: flex;
  align-items: center;
}

.panel-group .panel-tab.soon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--shadeLightDark);
}

.panel-group .panel-tab.soon {
  pointer-events: none;
}

.panel-group svg {
  font-size: 1.4em;
  margin-right: 0.5em;
  width: 50px !important;
}

.panel-group p,
.panel-group span {
  font-size: 0.7em;
  font-weight: 600;
}

.panel-group .panel-tab.blue {
  color: var(--shadeBlue);
}

.panel-group .panel-tab.green {
  color: var(--shadeGreen);
}
