* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: rgba(255, 255, 255, 1);
  --dark: rgba(64, 64, 62, 1);
  --brown: rgba(112, 112, 112, 1);
  --shadeLight: rgb(233, 233, 233, 1);
  --shadeDark: rgba(85, 98, 115, 1);
  --shadeLightDark: rgba(128, 140, 166, 1);

  --shadeGreen: rgba(97, 137, 126, 1);
  --shadeRed: rgb(217, 108, 108, 1);
  --shadeLightGreen: rgba(104, 183, 161, 1);
  --shadeLightBlue: rgba(107, 166, 225, 1);
  --shadeBlue: rgba(61, 94, 127, 1);
  --lightShadow: rgba(255, 255, 255, 0.089);
  --darkShadow: rgba(64, 64, 62, 0.26);

  --hoverTransition: 0.4s ease-out;

  --box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.603);
  --E-bg: rgba(227, 232, 236, 1);
  --loader-bg: rgba(255, 255, 255, 0.178);
}


body {
  background: var(--dark);
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  height: 100vh;
  display: table;
  width: 100%;
}
