{% extends 'DJANGO/accounts/base.html' %}
{% load static %}

{% block content %}
<div class="login">
    <img class="logo" src="{% static 'DJANGO/images/Initials-light.webp' %}" alt="" width="163">

    <main>
        <section class="login-info">
            <form method="POST" class="login-info-form">
                {% csrf_token %}
                <div class="form-field">
                    <input required class="form-input transparent" type="text" name="username"
                        placeholder="Phone or username" />
                    <hr class="input-line">
                </div>
                <div class="form-field">
                    <input required class="form-input transparent" type="password" name="password"
                        placeholder="Password" />
                    <hr class="input-line">
                </div>
                <button class="submit-btn" type="submit">Log In</button>
                <div class="error-message">
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                </div>
            </form>
        </section>
        <div class="or-line-wrapper">
            <div class="or-line">
                <hr>
                <span>or</span>
                <hr>
            </div>
        </div>
        <section class="create-account">
            <a href="/store/accounts/register"><button class="submit-btn light" type="submit">Create an
                    account</button></a>

        </section>
        <div class="or-line-wrapper">
            <div class="or-line">
                <hr>
                <span>or</span>
                <hr>
            </div>
        </div>
        <section class="guest-shop">
            <a href="/store/">Shop as a guest user</a>
        </section>
        <section class="quote">
            <p>You don't need an account to shop</p>
        </section>

    </main>


</div>
<script>

    (function () {
        if (window.localStorage) {
            if (!localStorage.getItem('firstLoad')) {
                localStorage['firstLoad'] = true;
                window.location.reload();
            }
            else
                localStorage.removeItem('firstLoad');
        }
    })();

</script>
<script src="{% static 'DJANGO/js/loginPageForms.js' %}"></script>
{% endblock %}