{% extends 'DJANGO/accounts/base.html' %}
{% load static %}

{% block content %}
<div class="login">
    <img class="logo" src="{% static 'DJANGO/images/Initials-light.webp' %}" alt="">

    <main>
        <section class="login-info">
            <form method="POST" class="login-info-form">
                {% csrf_token %}
                <div class="form-field">
                    <input required class="form-input transparent" type="text" name="username"
                        placeholder="Phone or username" />
                    <hr class="input-line">
                </div>
                <div class="form-field">
                    <input required class="form-input transparent" type="password" name="password"
                        placeholder="Password" />
                    <hr class="input-line">
                </div>
                <button class="submit-btn" type="submit">Log In</button>
                <div class="error-message">
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                </div>
            </form>
        </section>
        <div class="or-line-wrapper">
            <div class="or-line">
                <hr>
                <span>or</span>
                <hr>
            </div>
        </div>
        <section class="create-account">
            <a href="/store/accounts/register"><button class="submit-btn light" type="submit">Create an
                    account</button></a>

        </section>
        <div class="or-line-wrapper">
            <div class="or-line">
                <hr>
                <span>or</span>
                <hr>
            </div>
        </div>
        <section class="guest-shop">
            <a href="/store/">Shop as a guest user</a>
        </section>
        <section class="quote">
            <p>You don't need an account to shop</p>
        </section>

    </main>

    <!-- <main class="login-form">
        <form method="POST" action="">
            {% csrf_token %}
            <section class="login-info">
                <input required type="text" name="username" placeholder="Username">
                <input required type="password" name="password" placeholder="Password">
            </section>
            <Button class="login-submit" type="submit" name="Create User">
        </form>

        <div class="go-links">
            <a href="/store/accounts/register">
                <p>CREATE ACCOUNT</p>
            </a>
            <a href="/store/home">
                <p>I DON'T NEED AN ACCOUNT</p>
            </a>
        </div>
    </main>
    <p class="quote info">You can still shop without creating an account</p>
    <div class="message">
        {% for message in messages %}
        <p class="quote">{{message}}</p>
        {% endfor %}
    </div> -->
</div>
{% endblock %}