.ecommerce .product {
  background: var(--light);
  height: auto;
  font-size: 1.1rem;
  color: var(--dark);
  position: relative;
  display: block;
  max-width: 30rem;
  margin: 0 auto 2em auto;
  box-shadow: var(--box-shadow);
}

.ecommerce .product .condition {
  position: absolute;
  font-size: 0.8em;
  font-weight: 600;
  top: 0;
  right: 0;
  color: var(--light);
  padding: 0.3em 0.5em 0.6em 1em;
  border-bottom-left-radius: 1.5rem;
}

.ecommerce .brand-new {
  background: var(--shadeLightGreen);
}

.ecommerce .used {
  background: var(--shadeRed);
}

.ecommerce .info-top {
  padding: 0.3em 0.5em;
  width: 70%;
  font-weight: bold;
}

.ecommerce .info-top .product-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0.3em;
}

.ecommerce .info-top .date-posted {
  font-size: 0.7em;
  color: var(--shadeDark);
}

.ecommerce .product-image {
  display: block;
  margin: 0 auto;
  width: 85%;
}

.ecommerce .product-image:hover {
  cursor: pointer;
}

.ecommerce .info-bottom {
  padding: 0.5em 1em 1em 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ecommerce .product-price .current {
  font-size: 1em;
  color: var(--shadeGreen);
  font-weight: bold;
}

.ecommerce .product-price .original {
  font-size: 0.8em;
  color: var(--shadeDark);
  text-decoration: line-through;
}

.ecommerce .info-bottom .detail-btn {
  text-transform: initial;
  font-size: 0.8em;
  padding: 0.5em;
}

.ecommerce .detail-btn .inner {
  display: flex;
  align-items: center;
}

.ecommerce .detail-btn .inner > * {
  margin: 0 0.3em;
}

.ecommerce .not-found-text {
  text-align: center;
  color: var(--shadeDark);
  padding: 0 1em;
}

.ecommerce .not-found-text p {
  margin-top: 1em;
  font-size: 0.7em;
  font-style: italic;
}

.ecommerce .scroll-message {
  text-align: center;
  color: var(--shadeDark);
}

.ecommerce .pull-down-message {
  margin-bottom: 1.5em;
  font-size: 1.5em;
}

#css-ldr {
  animation: animate 1.5s linear infinite;
  clip: rect(0, 50px, 50px, 25px);
  height: 50px;
  width: 50px;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(220deg);
  }
}
#css-ldr:after {
  animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 50px, 50px, 25px);
  content: "";
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
}
@keyframes animate2 {
  0% {
    box-shadow: inset var(--shadeBlue) 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset var(--shadeBlue) 0 0 0 2px;
  }
  100% {
    box-shadow: inset var(--shadeBlue) 0 0 0 17px;
    transform: rotate(140deg);
  }
}
