.product {
  background: var(--light);
  height: auto;
  font-size: 1.1rem;
  color: var(--dark);
  position: relative;
}

.product .condition {
  position: absolute;
  font-size: 0.7em;
  font-weight: 600;
  top: 0;
  right: 0;
  color: var(--light);
  padding: 0.3em 0.5em;
}

.brand-new {
  background: var(--shadeLightGreen);
}

.used {
  background: var(--shadeRed);
}

.info-top {
  padding: 0.3em 0.5em;
  width: 70%;
  font-weight: bold;
}

.info-top .product-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
}

.info-top .date-posted {
  font-size: 0.6em;
  color: var(--shadeDark);
}

.product-image {
  width: 100%;
}

.info-bottom {
  padding: 0.5em 1em 1em 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-price .current {
  font-size: 1em;
  color: var(--shadeGreen);
  font-weight: bold;
}

.product-price .original {
  font-size: 0.8em;
  color: var(--shadeDark);
  text-decoration: line-through;
}

.info-bottom .detail-btn {
  text-transform: initial;
  font-size: 0.8em;
  padding: 0.5em;
}

.detail-btn .inner {
  display: flex;
  align-items: center;
}

.detail-btn .inner > * {
  margin: 0 0.3em;
}

.modal-wrapper {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.472);
  z-index: 5000;
  cursor: pointer;
}

.product-view {
  background: var(--light);
  position: relative;
  top: 50%;
  height: auto;
  max-height: 85%;
  overflow: scroll;
  overflow-x: hidden;
  transform: translateY(-50%);
}

.product-view .detail-header {
  padding: 0.5em;
  font-weight: 700;
  text-transform: capitalize;
}

.detail-product-name {
  color: var(--dark);
  font-size: 0.7em;
  margin-bottom: 0.7em;
  width: 80%;
}

.sub-details {
  font-size: 0.65em;
  display: flex;
  justify-content: space-between;
}

.detail-price {
  color: var(--shadeGreen);
}

.detail-brand {
  color: var(--shadeLightBlue);
}

.detail-brand span {
  color: var(--shadeDark);
}

.detail-description {
  padding: 1em;
  font-size: 0.65em;
  font-weight: 600;
  color: var(--dark);
  height: auto;
  max-height: 10rem;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid var(--dark) 0.1rem;
}

.detail-description p {
  white-space: pre-wrap;
  hyphens: auto;
  letter-spacing: 1.55px;
}

.detail-action {
  padding: 0.4em;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-action .close {
  color: var(--shadeBlue);
}

.detail-action .close:hover {
  color: var(--dark);
  transition: var(--hoverTransition);
}

.detail-action .add-btn {
  background: var(--shadeLightGreen);
  font-size: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
}

.add-btn:hover {
  background: var(--light);
  color: var(--shadeLightGreen);
}

.add-product-modal {
  background: var(--light);
  width: 60%;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  padding: 0.8em 0.5em 0.5em 0.5em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.modal-text {
  font-size: 0.8em;
  color: var(--shadeLightGreen);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.modal-text p {
  margin-right: 0.5em;
}

.modal-go-cart-button {
  font-size: 0.5em;
  padding: 1em 1.2em;
  margin-bottom: 1em;
}

.modal-close-button {
  position: absolute;
  top: 100%;
  left: 97%;
  transform: translate(-50%, -50%);
}
