{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"
        integrity="sha512-UwcC/iaz5ziHX7V6LjSKaXgCuRRqbTp1QHpbOJ4l1nw2/boCfZ2KlFIqBUA/uRVF0onbREnY9do8rM/uT/ilqw=="
        crossorigin="anonymous"></script>
    <title>Nenetelecom</title>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="app">
        <!-- React will load here -->
    </div>

    <!-- Bundled javascript will load here -->
    <script src="{% static 'REACT/js/main.js' %}"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        let currentUser = "{{request.user}}"
        let currentCustomer = "{{request.user.customer.first_name}}"
        let currentCustomerId = "{{request.user.customer.id}}"

        //Creating cookie
        let cart = JSON.parse(getCookie('cart'))

        if (cart == undefined) {
            cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'
        }
        document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'
    </script>
</body>

</html>