{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Online Shop now! Get the latest Mobile Phones, iPads, Tablets, & Phone Accessories
                                    at the best price in the Philippines."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static '/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static '/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static '/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static '/manifest.json' %}" />
    <link
      rel="mask-icon"
      href="{% static '/safari-pinned-tab.svg' %}"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"
      integrity="sha512-UwcC/iaz5ziHX7V6LjSKaXgCuRRqbTp1QHpbOJ4l1nw2/boCfZ2KlFIqBUA/uRVF0onbREnY9do8rM/uT/ilqw=="
      crossorigin="anonymous"
    ></script>
    <title>
      Online Store for Mobile Phones, Smartphones, Tablets, Phone Accessories,
      etc.
    </title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-193477953-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-193477953-1");
    </script>
  </head>

  <body>
    <script>
      // Messenger SDK for webview
      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "Messenger");

      window.extAsyncInit = function () {
        // the Messenger Extensions JS SDK is done loading
        MessengerExtensions.requestCloseBrowser(
          function success() {
            // webview closed
            console.log("Webview closed");
          },
          function error(err) {
            // an error occurred
            console.log("An error occured");
          }
        );
      };
    </script>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="app">
      <!-- React will load here -->
    </div>

    <!-- Bundled javascript will load here -->
    <!-- <script src="{% static 'REACT/js/runtime.js' %}"></script>
    <script src="{% static 'REACT/js/npm.babel.js' %}"></script>
    <script src="{% static 'REACT/js/npm.react-scroll.js' %}"></script>
    <script src="{% static 'REACT/js/npm.prop-types.js' %}"></script>
    <script src="{% static 'REACT/js/npm.scheduler.js' %}"></script>
    <script src="{% static 'REACT/js/npm.react.js' %}"></script>
    <script src="{% static 'REACT/js/npm.react-messenger-customer-chat.js' %}"></script>
    <script src="{% static 'REACT/js/npm.react-is.js' %}"></script>
    <script src="{% static 'REACT/js/npm.react-dom.js' %}"></script>
    <script src="{% static 'REACT/js/npm.path-to-regexp.js' %}"></script>
    <script src="{% static 'REACT/js/npm.css-loader.js' %}"></script>
    <script src="{% static 'REACT/js/npm.tiny-invariant.js' %}"></script>
    <script src="{% static 'REACT/js/npm.style-loader.js' %}"></script>
    <script src="{% static 'REACT/js/npm.resolve-pathname.js' %}"></script>
    <script src="{% static 'REACT/js/npm.regenerator-runtime.js' %}"></script>
    <script src="{% static 'REACT/js/npm.react-router.js' %}"></script>
    <script src="{% static 'REACT/js/npm.react-router-dom.js' %}"></script>
    <script src="{% static 'REACT/js/npm.react-infinite-scroll-component.js' %}"></script>
    <script src="{% static 'REACT/js/npm.object-assign.js' %}"></script>
    <script src="{% static 'REACT/js/npm.mini-create-react-context.js' %}"></script>
    <script src="{% static 'REACT/js/npm.lodash.throttle.js' %}"></script>
    <script src="{% static 'REACT/js/npm.hoist-non-react-statics.js' %}"></script>
    <script src="{% static 'REACT/js/npm.history.js' %}"></script>
    <script src="{% static 'REACT/js/npm.contenteditable-max-length.js' %}"></script> -->
    <script src="{% static 'REACT/js/main.js' %}"></script>

    <!-- Cookie cart and DJANGO Built-in User object will load here -->
    <script>
      const getCookie = (name) => {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      };
      const csrftoken = getCookie("csrftoken");
      let currentCustomerId = "{{request.user.customer.id}}";
      let isSuperUser = "{{request.user.is_superuser}}";
      let isAuthenticated = "{{request.user.is_authenticated}}";

      //Creating cookie
      let cart = JSON.parse(getCookie("cart"));

      if (cart == undefined) {
        cart = {};
        document.cookie =
          "cart=" +
          JSON.stringify(cart) +
          ";domain=;path=/; HttpOnly; Secure; SameSite=Lax";
      }
      document.cookie =
        "cart=" +
        JSON.stringify(cart) +
        ";domain=;path=/; HttpOnly; Secure; SameSite=Lax";
    </script>

    <!-- Service worker will load here -->
    <script>
      // Convert base64String - "a public vavid key", To Uint8Array
      const urlBase64ToUint8Array = (base64String) => {
        const padding = "=".repeat((4 - (base64String.length % 4)) % 4);
        const base64 = (base64String + padding)
          .replace(/\-/g, "+")
          .replace(/_/g, "/");

        const rawData = window.atob(base64);
        const outputArray = new Uint8Array(rawData.length);
        const outputData = outputArray.map((output, index) =>
          rawData.charCodeAt(index)
        );

        return outputData;
      };

      // Register a service worker if the browser support it
      const registerServiceWorker = async () => {
        const registration = await navigator.serviceWorker.register(
          "{% url 'service-worker.js' %}"
        );
        askPermission();
        subscribeUserToPush(registration);
      };

      // Show "Allow notifications" propmt
      const askPermission = () => {
        return new Promise((resolve, reject) => {
          const permissionResult = Notification.requestPermission((result) => {
            resolve(result);
          });

          if (permissionResult) {
            permissionResult.then(resolve, reject);
          }
        }).then((permissionResult) => {
          if (permissionResult !== "granted") {
            throw new Error("We weren't granted permission.");
          }
        });
      };

      //Subscribe user to push notification if they accept the prompt
      const subscribeUserToPush = async (registration) => {
        const subscription = await registration.pushManager.getSubscription();
        if (subscription) {
          sendSubscriptionToBackEnd(subscription);
          return;
        }
        const subscribeOptions = {
          userVisibleOnly: true,
          applicationServerKey: urlBase64ToUint8Array(
            "BKKttlbqOVOO6P_kJFYtLWCPgX4Ca3i8HGEAJNoMaEB2un94nfU7IkKyg1S2qoIJ-VFjOZX3mQU1f4UQ9BM537w"
          ),
        };

        const sub = await registration.pushManager.subscribe(subscribeOptions);
        sendSubscriptionToBackEnd(sub.toJSON());
      };

      const sendSubscriptionToBackEnd = async (subscription) => {
        const browser = navigator.userAgent
          .match(/(firefox|msie|chrome|safari|trident)/gi)[0]
          .toLowerCase();
        const res = await fetch("/webpush/save_information", {
          method: "POST",
          body: JSON.stringify({
            status_type: "subscribe",
            subscription: subscription.toJSON(),
            browser: browser,
          }),
          headers: {
            "content-type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          credentials: "include",
        });
      };

      window.addEventListener("load", () => {
        if ("serviceWorker" in navigator) {
          registerServiceWorker();
        } else {
          console.error("Unable to register service worker.");
        }
      });
    </script>

    <!-- Paypal API will load here -->
    <script src="https://www.paypal.com/sdk/js?client-id=AYDEkxrsk4iy4e9Ka6bDLGsALPOnUdW--sFKFE2bWtFKadp0YaLObbqwkZcH1TTyZTTq0FPziTuEBN-S&currency=PHP"></script>
  </body>
</html>
