{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/manifest.json' %}">
    <link rel="mask-icon" href="{% static '/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"
        integrity="sha512-UwcC/iaz5ziHX7V6LjSKaXgCuRRqbTp1QHpbOJ4l1nw2/boCfZ2KlFIqBUA/uRVF0onbREnY9do8rM/uT/ilqw=="
        crossorigin="anonymous"></script>
    <title>Nenetelecom</title>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="app">
        <!-- React will load here -->
    </div>

    <!-- Bundled javascript will load here START -->
    <script src="{% static 'REACT/js/runtime.js' %}"></script>
    <script src="{% static 'REACT/js/npm.react-scroll.js' %}"></script>
    <script src="{% static 'REACT/js/npm.babel.js' %}"></script>
    <script src="{% static 'REACT/js/npm.prop-types.js' %}"></script>
    <script src="{% static 'REACT/js/npm.scheduler.js' %}"></script>
    <script src="{% static 'REACT/js/npm.react.js' %}"></script>
    <script src="{% static 'REACT/js/npm.react-is.js' %}"></script>
    <script src="{% static 'REACT/js/npm.react-dom.js' %}"></script>
    <script src="{% static 'REACT/js/npm.path-to-regexp.js' %}"></script>
    <script src="{% static 'REACT/js/npm.css-loader.js' %}"></script>
    <script src="{% static 'REACT/js/npm.tiny-invariant.js' %}"></script>
    <script src="{% static 'REACT/js/npm.style-loader.js' %}"></script>
    <script src="{% static 'REACT/js/npm.resolve-pathname.js' %}"></script>
    <script src="{% static 'REACT/js/npm.regenerator-runtime.js' %}"></script>
    <script src="{% static 'REACT/js/npm.react-router.js' %}"></script>
    <script src="{% static 'REACT/js/npm.react-router-dom.js' %}"></script>
    <script src="{% static 'REACT/js/npm.object-assign.js' %}"></script>
    <script src="{% static 'REACT/js/npm.mini-create-react-context.js' %}"></script>
    <script src="{% static 'REACT/js/npm.lodash.throttle.js' %}"></script>
    <script src="{% static 'REACT/js/npm.hoist-non-react-statics.js' %}"></script>
    <script src="{% static 'REACT/js/npm.history.js' %}"></script>
    <script src="{% static 'REACT/js/main.js' %}"></script>
    <!-- Bundled javascript will load here END -->
    <script>
        window.addEventListener("load", () => {
            if ("serviceWorker" in navigator) {
                navigator.serviceWorker.register("{% url 'service-worker.js' %}");
            }
        });
    </script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        let currentUser = "{{request.user}}"
        let currentCustomerFirstName = "{{request.user.customer.au_first_name}}"
        let currentCustomerLastName = "{{request.user.customer.au_last_name}}"
        let currentCustomerMobileNumber = "{{request.user.customer.au_mobile_number}}"
        let currentCustomerId = "{{request.user.customer.id}}"


        //Creating cookie
        let cart = JSON.parse(getCookie('cart'))

        if (cart == undefined) {
            cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'
        }
        document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'
    </script>

    <script
        src="https://www.paypal.com/sdk/js?client-id=AYDEkxrsk4iy4e9Ka6bDLGsALPOnUdW--sFKFE2bWtFKadp0YaLObbqwkZcH1TTyZTTq0FPziTuEBN-S&currency=PHP"></script>
    </script>
</body>

</html>