.cart-items {
  height: auto;
  margin-bottom: 3em;
}

.cart-items .helper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--shadeLightDark);
  font-weight: 600;
  margin: 0.5em 0;
}

.cart-items .helper span {
  margin-right: 0.5em;
  font-size: 0.9em;
}

.cart-items .item {
  background: var(--light);
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0.5em;
  margin: 0.5em 0;
}

.cart-items .item-main {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.cart-items .item-main .item-image {
  margin-right: 0.8em;
  height: 100%;
}

.cart-items .item-main .item-info {
  color: var(--dark);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1rem;
  overflow: hidden;
  width: 100%;
}

.cart-items .item-info-name {
  font-size: 0.9em;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
}
.cart-items .item-info-brand {
  font-size: 0.7em;
  background: var(--E-bg);
  color: var(--shadeLightDark);
  border: 1px solid var(--shadeLightDark);
  border-radius: 3px;
  width: fit-content;
  padding: 0.5em;
}

.cart-items .item-info-current-price {
  font-size: 0.9em;
  color: var(--shadeGreen);
}

.cart-items .item-info-original-price {
  font-size: 0.7em;
  display: flex;
}

.cart-items .item-info-original-price p {
  color: var(--shadeLightDark);
  text-decoration: line-through;
  margin-right: 0.5em;
}

.cart-items .item-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  color: var(--shadeBlue);
}

.cart-items .item-action .item-select {
  font-size: 1.8em;
}

.cart-items .item-action .item-select:hover {
  cursor: pointer;
}

.cart-items .item-action .item-quantity {
  display: flex;
  align-items: center;
}

.cart-items .item-quantity div {
  transition: 0.2s ease-in;
}

.cart-items .item-quantity div:hover {
  filter: brightness(200%);
}

.cart-items .item-quantity span {
  padding: 0.2em 1em;
  background: var(--shadeLight);
}

.cart-items .item-quantity > * {
  margin: 0 0.5em;
}

.cart-items .item-quantity > *:hover {
  cursor: pointer;
}
