.sliders {
  position: relative;
}

.slider-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 90%;
  z-index: 1;
}

.detail-product-image img:not(.slider-btn img) {
  width: 100%;
}

.slide {
  transition-duration: 0.6s ease;
  transform: scale(0.8);
}

.slide.active {
  transition-duration: 0.6s;
  transform: scale(1);
}

.slider-preview-wrapper {
  background: var(--shadeLight);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.slider-preview {
  justify-content: space-evenly;
  display: flex;
  width: 100%;
}

.image-preview {
  filter: blur(1.5px);
}

.image-preview.active {
  filter: blur(0px);
  border: solid var(--shadeBlue) 0.2rem;
}
