.sliders {
  position: relative;
}

.slider-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 90%;
  z-index: 1;
}

.slider-btn > *:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.detail-product-image img:not(.slider-btn img) {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 25rem;
}

.slide {
  transform: scale(0.8);
  transition: transform 0.45s ease;
}

.slide.active {
  transform: scale(1);
  transition: transform 0.45s ease;
}

.slider-preview-wrapper {
  background: var(--shadeLight);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.slider-preview {
  justify-content: center;
  display: flex;
  width: 100%;
}

.image-preview {
  filter: blur(1.5px);
  margin: 0 0.5em;
}

.image-preview:hover {
  cursor: pointer;
}

.image-preview.active {
  filter: blur(0px);
  border: solid var(--shadeBlue) 0.2rem;
}
