.store {
  background: var(--light);
  width: 100%;
  height: fit-content;
  position: relative;
  padding-top: 5rem;
  z-index: 4;
  font-size: 1.5rem;
}

.store .circle {
  background: var(--shadeLightDark);
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  left: 2%;
  transform: translate(-50%, -50%);
  z-index: -6;
}

.store header {
  margin: 0 auto 2em auto;
  display: block;
}

.store .cards {
  display: grid;
  gap: 2.5em;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  width: 90%;
  margin: 0 auto;
}

.store .card-titlee {
  color: var(--shadeSmoothBlue) !important;
}

.store .storeBtn {
  display: block;
  margin: 3em auto 0 auto;
  width: fit-content;
  text-align: center;
}

.store .storeBtn button {
  font-size: 0.9em;
}

.store .wave-container svg {
  position: absolute;
  z-index: -5;
  bottom: 0%;
}
