nav {
  background: var(--dark);
  width: 100%;
  height: var(--nav-bar-height-extend);
  color: var(--light);
  font-weight: 600;
  z-index: 500;
  transition: 0.5s ease-in;
  display: flex;
  align-items: center;
  position: relative;
  opacity: 70%;
}
.nav-bottom {
  bottom: 0;
}

nav:hover {
  opacity: 100%;
  height: var(--nav-bar-height-extend);
}

.nav-fade-in {
  animation: navHeight 0.6s ease-in-out;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
}

nav ul .nav-logo {
  margin-left: -0.7rem;
  transition: 0.6s ease-in-out;
  z-index: 2;
  transform: scale(0.4);
}

nav ul .bars {
  z-index: 2;
  margin-right: 6%;
  margin-left: auto;
  transform: scale(0.45);
}

nav ul .bars,
nav ul .nav-logo {
  cursor: pointer;
}

nav .nav-list {
  display: none;
}

nav .nav-list.show {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  padding-top: 5em;
  animation: fadeInListHeight 0.4s ease-out;
}

.nav-list.show .list-item {
  border-radius: 0px;
}

nav .list-item {
  display: inline-block;
  font-size: 1.2rem;
  text-align: center;
  padding: 1.2em 1em;
  border-radius: 10px;
  user-select: none;
}

nav .list-item:hover {
  background: var(--light);
  color: var(--dark);
  transition: 0.2s ease-in;
  cursor: pointer;
}

nav .active {
  text-decoration: solid underline var(--light) 5px;
  text-underline-offset: 0.5em;
}

nav .active:hover {
  text-decoration: solid underline var(--dark) 5px;
}

@keyframes navHeight {
  0% {
    height: var(--nav-bar-height);
  }
  100% {
    height: var(--nav-bar-height-extend);
  }
}

@keyframes fadeInHeight {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

@keyframes fadeInListHeight {
  0% {
    bottom: 100%;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
