.media-card main {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.media-card main > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
  width: 90%;
}

.media-text {
  color: var(--dark);
  white-space: pre;
}
