.ecommerce .nav-bottom {
  position: fixed;
  bottom: 0;
  z-index: 100;
  height: 8vh;
  width: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}

.ecommerce .nav-bottom ul {
  width: 85%;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

.ecommerce .nav-bottom ul > * {
  background: var(--shadeLight);
  padding: 0.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--shadeBlue);
  text-decoration: none;
}

.ecommerce .nav-bottom ul > *:hover {
  cursor: pointer;
  color: var(--light) !important;
  background: var(--shadeBlue) !important;
  transition: 0.6s ease-out;
}

.ecommerce .nav-bottom ul > *.active {
  color: var(--light) !important;
  background: var(--shadeBlue) !important;
  transition: 0.6s ease-out;
}

.nav-cart {
  color: var(--shadeLightBlue) !important;
}

.cart-active {
  color: var(--light) !important;
  background: var(--shadeLightBlue) !important;
  transition: 0.6s ease-out;
}

.ecommerce .nav-bottom .cart-count {
  position: absolute;
  top: 0%;
  right: -16%;
  background: var(--light);
  color: var(--shadeLightBlue);
  width: 1em;
  height: 1em;
  font-size: 0.85em;
  padding: 0.62em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--shadeLightBlue);
  animation: fadeInOpacity ease 0.4s;
}

.ecommerce .nav-content,
.ecommerce .search-content {
  position: fixed;
  bottom: 8vh;
  z-index: 500;
  background: var(--E-bg);
  width: 100%;
  height: 92vh;
  animation: fadeInOpacityHeight ease 0.4s;
}

@media (max-height: 580px) {
  .ecommerce .nav-content,
  .ecommerce .search-content {
    bottom: 8.6vh;
  }
}

@media (max-height: 560px) {
  .ecommerce .nav-content,
  .ecommerce .search-content {
    bottom: 8.9vh;
  }
}

@media (max-height: 530px) {
  .ecommerce .nav-content,
  .ecommerce .search-content {
    bottom: 9.2vh;
  }
}

.icon-container {
  width: min(90%, 60rem);
  margin: 0 auto;
  padding: 1em 0;
}

.ecommerce .nav-content .close-icon,
.ecommerce .search-content .close-icon {
  display: block;
  margin: 0 0 0 auto;
}
.nav-content .close-icon:hover,
.search-content .close-icon:hover {
  cursor: pointer;
  filter: brightness(150%);
}

.nav-content .user-section img {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.25em;
  border-radius: 50%;
}

.nav-content .user-section .info {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.user-section .info-name {
  color: var(--dark);
  margin-bottom: 0.2em;
}

.user-section .info-number {
  font-size: 0.75em;
  color: var(--shadeDark);
  letter-spacing: 0.8px;
}

.user-container {
  width: min(80%, 30rem);
  margin: 0 auto;
}

.user-section .action {
  display: flex;
  justify-content: space-between;
  margin: 0.8em 0;
}

.action.center {
  justify-content: center;
}

.edit button,
.logout button,
.login button {
  font-size: 0.5em;
  padding: 0.8em 1.5em;
  border-radius: 5rem;
  text-transform: initial;
  box-shadow: none;
}

.edit button {
  background: var(--shadeLightDark);
}

.logout button {
  background: var(--shadeRed);
}

.edit button:hover,
.logout button:hover {
  background: var(--shadeLightBlue);
  color: var(--light);
}

.login button:hover {
  box-shadow: var(--box-shadow);
}

.line-wrapper {
  width: min(90%, 40rem);
  display: block;
  margin: 0 auto;
}

.line-wrapper hr {
  height: 0.15rem;
  background: var(--shadeLightDark);
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInHeight {
  0% {
    height: 0;
  }
  100% {
    height: 92vh;
  }
}

@keyframes fadeInOpacityHeight {
  0% {
    opacity: 0.7;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 92vh;
  }
}
