.register {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.register .register-info {
  display: flex;
  justify-content: center;
}

.register .register-info-form {
  width: min(80%, 40rem);
}

.register .form-input {
  font-size: 0.7em;
  height: 2.5rem;
}

.register .submit-btn {
  margin-top: 0.5em;
}

.register .back-to-login {
  font-size: 1em;
  text-align: center;
  margin-top: 2em;
}

.register .back-to-login:hover {
  filter: brightness(80%);
}

.register .back-to-login a {
  font-size: 0.7em;
  color: var(--shadeLightGreen);
  text-decoration: underline;
}

.register .feedback-message {
  font-size: 0.7em;
  margin-top: 1em;
}

.register .field-icon {
  float: right;
  position: relative;
  margin-top: -2.2rem;
  margin-right: 0.5rem;
  z-index: 2;
  color: var(--shadeLightDark);
}
