.btn {
  background: var(--shadeLightBlue);
  width: fit-content;
  height: fit-content;
  padding: 1.3em 1em;
  border-radius: 0.5em;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  color: var(--light);
  text-transform: uppercase;
  box-shadow: var(--box-shadow);
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
  background: var(--light);
  color: var(--shadeBlue);
  transition: var(--hoverTransition);
}
