.orders {
  width: 100%;
  position: absolute;
  top: 7.3rem;
  padding-bottom: 5em;
  font-size: 1rem;
}

.orders .back-to-cart {
  padding: 0 0 0.5em 0.5em;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--shadeDark);
}

.orders .back-to-cart a {
  font-size: 1.8em;
  margin-right: 0.3em;
  color: var(--shadeDark);
}

.orders .back-to-cart a:hover {
  color: var(--dark);
}
