.technicians {
  background: var(--shadeLight);
  width: 100%;
  height: fit-content;
  position: relative;
  flex-direction: column;
  align-items: center;
  zoom: 50%;
  padding: 2em 0;
}

.technicians header {
  color: var(--shadeDark);
  margin: 0 auto 2em auto;
  display: block;
}

.technicians .cards {
  display: grid;
  gap: 2em;
  align-items: start;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.techniciansBtn {
  display: block;
  margin: 2em auto;
  width: fit-content;
}

/* OVERRIDES */
.technicians .card {
  background: white;
}

.technicians .card .card-icon img {
  width: 236px;
  height: 235px;
  object-fit: scale-down;
  border-radius: 50%;
}

.technicians .card .card-text {
  width: 340px;
  height: 66px;
}
