header {
  color: var(--shadeLightBlue);
  width: fit-content;
  text-align: center;
  z-index: 5;
}

header .header-icon {
  width: 40%;
}

header h3 {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}
