.footer {
  background: var(--dark);
  color: var(--light);
  font-size: 1rem;
  border-top: 1px solid var(--light);
  position: relative;
  padding-bottom: 5em;
}

.footer main {
  padding: 0em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.footer main > * {
  margin: 1em 0;
}

.footer .info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  white-space: pre;
}

.info-box p {
  color: var(--shadeLight);
  text-align: center;
}

.footer .info-box > * {
  margin: 0.5em 0;
}

.footer .logo {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}

.footer .copyright {
  margin: 2em auto;
  text-align: center;
  width: 80%;
}

.copyright u {
  font-weight: lighter;
  cursor: pointer;
}
