.card {
  /* background-color: var(--light); */
  background-image: linear-gradient(to bottom, var(--light), var(--E-bg));
  border-radius: 1rem;
  width: 100%;
  max-width: 40rem;
  padding: 2em 1em;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.card .card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.card .card-titlee {
  color: var(--shadeDark);
  width: fit-content;
  height: fit-content;
  margin-top: 1em;
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
}

.card .card-text {
  color: var(--shadeLightDark);
  width: fit-content;
  height: fit-content;
  margin-top: 2em;
  font-size: 1em;
  font-weight: 500;
}
