.contact {
  background: var(--light);
  position: relative;
  height: 100vh;
  width: 100%;
}

.contact .bg1 {
  width: 75%;
  height: 100%;
  background: var(--dark);
}

.contact-title {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  letter-spacing: 2.5rem;
  width: 554px;
  height: 373px;
}

.contact-title .title-text-2 {
  margin-left: 3.1em;
}

.contact-title h1 {
  font-size: 7rem;
  color: var(--light);
  text-shadow: -0.1em 0.2em var(--lightShadow);
}

.contact-title h1 span {
  color: var(--dark);
  text-shadow: -0.1em 0.2em var(--darkShadow);
}

.contact .media-card {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}
