.contact {
  background: var(--dark);
  position: relative;
  width: 100%;
  padding: 2em 0;
  font-size: 3rem;
}

.contact-title {
  margin: 0 auto;
  font-size: 0.8em;
  margin-bottom: 2em;
}

.contact-title p {
  color: var(--light);
}

.contact .media-card {
  font-size: 1rem;
}
